*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,body{
     background: black;
     /* overflow: hidden; */
     height: 100%;
     width: 100%;
    
}

main{
     height: 100%;
     width: 100%;
     display: flex;
     align-items: flex-start;
     flex-wrap: wrap;
     flex-direction: row;

     padding: 30px;
     gap: 20px;

}

.card{
     background-color: antiquewhite;
     width: 300px;
     padding:20px 10px;
     display: flex;;
     flex-direction: column;
     align-items: center;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
     justify-content: center;
}

.card h2{
     color: cadetblue;
     font-size: 30px;
     margin-bottom: 10px;
}

.card p{
     margin: 10px 0;
     text-align: center;
     font-size: 18px;
     color: #333;
}

.card img{
     width: 100px;
     height: 100px;
     object-fit: cover;
     border-radius: 50%;
     margin-bottom: 15px;
}