body {
     background: #111;
     color: white;
     text-align: center;
     font-family: Arial;
   }
   
   h1 {
     margin-top: 20px;
   }
   
   .piano {
     margin: 40px auto;
     width: 90%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 10px;
   }
   
   .key {
     width: 60px;
     height: 150px;
     background: white;
     color: black;
     font-weight: bold;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 6px;
     cursor: pointer;
     user-select: none;
     transition: 0.1s ease;
   }
   
   .key.active {
     transform: scale(0.95);
     background: orange;
     color: black;
   }
   