*{

     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html, body{
     height: 100%;
     width: 100%;
     font-family: 'Poppins', sans-serif;
     background: black;
     color: rgba(255, 255, 255, 0.932);
}

main{
     height: 100%;
     width: 100%;
     background: linear-gradient(to right bottom, rgb(20, 20, 20), rgb(39, 36, 36), rgb(0, 0, 0));
     padding: 2px;
     /* overflow: auto; */


}

section{
     height: 100%;
     width: 350px;
     /* background-color: black; */
     margin: auto;
     border-radius: 10px;
     /* overflow: auto; */
     /* overflow: hidden; */

}

.all-reels{
     height: 100%;
     width: 100%;
     /* background-color: #6ebeff; */
     overflow: auto;
     margin-bottom: 20px;
     scroll-snap-type: y mandatory;
     scroll-behavior: smooth;

}

.all-reels::-webkit-scrollbar{
     display: none;
}

.reel{
     height: 100%;
     width: 100%;
     position: relative;
     border-radius: 10px;
     /* border-radius: 10px; */
     overflow: hidden;
     scroll-snap-align: start;
     scroll-snap-stop: always;
     margin-bottom: 20px;
}

.reel video{
     height: 100%;
     width: 100%;
     object-fit: cover;
}

.reel .bottom{
     width: 100%;
     padding: 20px;
     background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.667));
     position: absolute;
     bottom: 0;
     

}

.bottom .user{
     display: flex;
     align-items: center;
     /* justify-content: space-between; */
     gap: 10px;
     color: white;
     margin-bottom: 20px;
}

.bottom .user img{
     height: 40px;
     width: 40px;
     border-radius: 50%;
     object-fit: cover;
     /* border: 2px solid white; */
}

.bottom .user button{
     margin-left: 10px;
     padding: 3px 7px;
     background-color: transparent;
     color: rgba(255, 255, 255, 0.653);
     font-weight: bold;
     border: 1px solid white;
     border-radius: 3px;
}

.bottom>h4{
     font-weight: 300;
     font-size: 13px;
     margin-right: 15px;

}

.reel .right{
     display: flex;
     flex-direction: column;
     width: 40px;
     position: absolute;
     align-items: center;
     right: 0;
     /* transform: translateX(100%); */
     bottom: 0;
     text-align: center;
     gap: 20px;
     padding: 30px;
     /* overflow: hidden; */
     /* background-color: rgb(16, 244, 244); */
}

.right h4{
    
     /* gap: 5px; */
     /* color: white; */
     font-size: 25px;
     cursor: pointer;
     font-weight: 200;
     margin-bottom: 6px;
     /* justify-items: center; */
     /* font-size: 300px; */
     /* size: 30px; */
}

.right h6{
     font-size: 12px;
     font-weight: 200;
}

.right>div{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 50px;
     cursor: pointer;
}

.right .like .love{
     color: red;
}

.right > div h6{
     pointer-events: none;
}

.right > div h4{
     pointer-events: none;
}
