*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     /* color: aliceblue; */
}

html,body{
     background: black;
     overflow: hidden;
     height: 100%;
     width: 100%;
    
}

main{
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.card{
     background-color: antiquewhite;
     width: 300px;
     padding:20px 10px;
     display: flex;;
     flex-direction: column;
     align-items: center;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
     justify-content: center;
}

.upper{
     margin-bottom: 20px;
     background-color: gray;
     width: 100%;
     height: 20px;
     border-radius: 10px;
     /* font-weight: 300; */
     /* padding: 10px; */
}

.download{
     width: 0%;
     height: 100%;
     /* font-size: 18px; */
     /* font-weight: 600; */
     border: none;
     border-radius: 100px;
     background-color: #3498db;
     /* color: #fff; */
     justify-content: center;
     
}

.download p{
     color: white;
     font-weight: 600;
     padding: 0px 6px;
     justify-content: center;
     align-items: center;
     font-size: 17px;
}

button{
     padding: 10px 20px;
     font-size: 18px;
     font-weight: 600;
     border: none;
     border-radius: 5px;
     background-color: green;
     color: #fff;
     cursor: pointer;
}

button:active{
     transform: scale(0.98);
}